@tailwind base;
@tailwind components;
@tailwind utilities;

.pad{
  @apply px-[5%] lg:px-[10%]
}
.rr{
  @apply rounded-[2px]
}
.und{
  @apply w-[20%] lg:w-[10%] mt-[5px] border-b-[4px] border-orange-500
}




.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}
.svg-inline--fa {
  height: 1em;
  display: inline;
  /* vertical-align: -0.125em; */
}
