@tailwind base;
@tailwind components;
@tailwind utilities;

.pad {
  @apply px-[5%] lg:px-[10%]
}

body{
  font-family: 'Poppins', sans-serif;
}

.rr {
  @apply rounded-[2px]
}

.und {
  @apply w-[20%] lg:w-[10%] mt-[5px] border-b-[4px] border-orange-500
}

.cc{
  @apply rr w-full lg:w-[26vw] bg-gray-100 h-[88vw] lg:h-[26vw]
}

.inp{
  @apply h-[60px] w-full bg-gray-100 rr border border-gray-200 mt-[5px] px-[10px]
}

.contactform label{
  @apply font-semibold text-neutral-700;
}



.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.svg-inline--fa {
  height: 1em;
  display: inline;
  /* vertical-align: -0.125em; */
}


.footer3 ul li,
.footer2 ul li {
  @apply hover:underline cursor-pointer hover:text-primary1;
}

.soshobox div {
  @apply hover:text-primary1 cursor-pointer;
}

.sosholanding div {
  @apply rr flex items-center cursor-pointer text-[17px] hover:text-[15px] transition ease-in-out duration-200 justify-center shadow-xl h-[50px] w-[50px];
}
.sosholanding div:hover{
  @apply rr flex items-center cursor-pointer text-[17px]  transition ease-in-out duration-200 justify-end shadow-xl h-[50px] w-[100%] px-[12px] bg-white text-primary1;
}

.textsociallinks{
  display: none;
}

.sosholanding div:hover .textsociallinks{
  display: inline;
}

.sosholanding div {
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.1), -6px -6px 10px -1px rgba(255,255,255,0.1);
  border: 1px solid rgba(0,0,0,0.01);
}

.sus{
  @apply h-[300px] w-full bg-gray-200;
}